

#header{
    display: flex;
    background-color: rgb(223, 230, 230);
    align-items: center;
    justify-content: space-between;
    z-index: 999; 
    position: sticky;
    top: 0;
    left: 0;

}
#navbar{
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}
#navbar li a {
 text-decoration: none;
 font-size:15px ;
 font-weight: 600;
 color: rgb(29, 28, 28);
 transition: 0.3s ease;

}
#navbar li a:hover, 
#navbar li a.active {
    color: rgb(250, 205, 7);
}
#navbar li a.active::after,
#navbar li a:hover::after{

    content: "";
    width: 30%;
    height: 2px;
    background: rgb(236, 158, 40);
    position: absolute;
    bottom: -4px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


    
