#container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

form {
    margin-bottom: 25px;
}

#task {
width: 80%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

button {
    width:20% ;
    background-color: rgb(31, 247, 121);
    color: rgb(250, 35, 7);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
ul {
    list-style: none;
}
li {
background-color: rgb(58, 237, 243);
padding: 10px;
margin-bottom: 10px;

}
.done {
    text-decoration: line-through;

}